---
import { navigation } from '../../../content/navigation';
import DarkModeToggler from './DarkModeToggler.astro';
import LocalizationDropdown from './LocalizationDropdown.astro';

interface Props {
    lang: string;
}

const { lang } = Astro.props;
const togglers = navigation[lang].togglers;

---

<nav class="w-full py-2 px-4 fixed top-0 z-[9999] bg-[var(--color-5)}/30 backdrop-blur-md print:hidden">
    <div class="mx-auto max-w-6xl flex flex-col md:flex-row justify-between md:items-center">
        <div class="flex items-center justify-between md:w-auto">
            <a href={navigation[lang].homeLink.href} class="code text-lg">&lt;{navigation[lang].homeLink.text} /&gt;</a>
             
            <button 
                id="navigation-toggler"
                role="button"
                class="icon-btn md:hidden"
                data-target="#navigation-content"
                aria-controls="navigation-content"
                aria-expanded="false"
                aria-label={togglers.navigation.title}
            >
                <i class="fa-solid fa-bars text-[1.5rem] pointer-events-none absolute"></i>
                <i class="fa-solid fa-x text-[1.5rem] pointer-events-none absolute"></i>
            </button>
        </div>

        <div id="navigation-content" class="flex justify-end text-end">
            <ul class="navigation-list md:flex md:flex-row md:gap-4 pt-3 md:pt-0">

                <li class="w-full relative flex justify-end mb-2 md:mb-0 md:order-2">
                    <LocalizationDropdown lang={lang} title={togglers.language.title} />
                </li>
                <li class="w-full flex justify-end mb-2 md:mb-0 md:order-2">
                    <DarkModeToggler title={togglers.darkMode.title} />
                </li>
                {
                    navigation[lang].links.map((link) => (
                        <li class="order-1">
                            <a class="nav-link mb-2 inline-block md:mb-0" href={link.href}>{link.text}</a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</nav>

<style>
    nav {
        transform: translateY(-100%);
        transition: transform .15s ease-in-out;
    }

    nav.show {
        transform: translateY(0);
    }

    .text-lg.code {
        -webkit-text-stroke: .06em var(--color-1);
    }

    #navigation-toggler > i {
        opacity: 0;
        transition: opacity .15s ease-in-out, transform .15s ease-in-out;
        transform: rotate(0deg);
    }

    #navigation-toggler[aria-expanded="true"] > .fa-x,
    #navigation-toggler[aria-expanded="false"] > .fa-bars {
        opacity: 1;
    }

    #navigation-toggler[aria-expanded="false"] > .fa-bars {
        transform: rotate(-360deg);
    }

    #navigation-toggler[aria-expanded="true"] > .fa-x {
        transform: rotate(360deg);
    }

    #navigation-content {
        overflow: hidden;
        max-height: 0px;
        transition: max-height .15s ease-in-out;
    }

    #navigation-content.show {
        max-height: var(--navigation-list-height);
    }

    @media screen and (min-width: 768px) {
        #navigation-toggler {
            display: none;
        }

        #navigation-content {
            max-height: unset;
            overflow: visible;
        }
    }
</style>
