---
import { getCollection } from "astro:content";
import ExperienceList from "../shared/ExperienceList.astro";
import Header from "../shared/Header.astro";
import Section from "../shared/Section.astro";
import Article from "../shared/Article.astro";
import { experience } from "../../content/experience";

interface Props {
	lang: string;
}

const { lang } = Astro.props;

const experiences = await getCollection('experiences').then(e => e.map(exp => ({ id: exp.data.id, ...exp.data[lang] }) ));
const educations = await getCollection('educations').then(e => e.map(edu => ({ id: edu.data.id, ...edu.data[lang] }) ));
---

<Section id="experience">
    <Header text={experience[lang].sectionHeader} />

    <Article id="professional" >
        <header class="mb-4 print:mb-0">
            <h3 class="text-2xl sm:text-3xl md:text-4xl print:text-xl">{experience[lang].professional.header}</h3>
        </header>
        
        <ExperienceList id="work" data={experiences} />
    </Article>
    
    <Article id="education">
        <header class="mb-4 print:mb-0">
            <h3 class="text-2xl sm:text-3xl md:text-4xl print:text-xl">{experience[lang].education.header}</h3>
        </header>
        
        <ExperienceList id="school" data={educations} />
    </Article>
</Section>