---
import { getCollection } from "astro:content";
import ExperienceList from "../shared/ExperienceList.astro";
import Header from "../shared/Header.astro";
import Section from "../shared/Section.astro";
import Article from "../shared/Article.astro";

const experiences = await getCollection('experiences');
const educations = await getCollection('educations');

let skills = await getCollection('skills');

const skillTypes = []; 
skills.map(skill => {
    if (skillTypes.indexOf(skill.data.type) === -1) {
        skillTypes.push(skill.data.type);
    }
});
skills = skills.sort((a, b) => {
  const nameA = a.data.text.toUpperCase();
  const nameB = b.data.text.toUpperCase();
  if (nameA < nameB) {
    return -1;
  }
  if (nameA > nameB) {
    return 1;
  }

  return 0;
});
---

<Section id="resume">
    <Header text='Resume' />

    <Article id="experience">
        <header class="mb-4">
            <h3 class="text-2xl sm:text-3xl md:text-4xl">Experience</h3>
        </header>
        
        <ExperienceList id="work" data={experiences} />
    </Article>
    
    <Article id="education">
        <header class="mb-4">
            <h3 class="text-2xl sm:text-3xl md:text-4xl">Education</h3>
        </header>
        
        <ExperienceList id="school" data={educations} />
    </Article>

    <Article id="skills">
        <header class="mb-4">
            <h3 class="text-2xl sm:text-3xl md:text-4xl">Skills</h3>
        </header>

        <div class="grid grid-cols-4 gap-4">
            {
                skillTypes.map(skillType => (
                    <div class="col-span-2 sm:col-span-1 md:mb-0">
                        <h4 class="mb-2 text-lg sm:text-xl md:text-2xl">{skillType}</h4>
                        <ul>
                            {skills.map(skill => (
                                skill.data.type == skillType ? 
                                <li class="font-medium md:text-lg md:leading-5 flex items-center mb-1">
                                    <span class="inline-flex items-center justify-center w-6 h-6 md:w-8 md:h-8 me-1">
                                        {skill.data.icon ? <i class={skill.data.icon}></i> : <i class="fa-solid fa-code"></i>}
                                    </span>
                                    <span class="inline-block">
                                        {skill.data.text}
                                    </span>
                                    
                                </li>
                                : ''
                            ))}
                        </ul>
                    </div>
                ))
            }
            
        </div>
    </Article>
</Section>