---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import Experience from '../components/core/Experience.astro';
import Projects from '../components/core/Projects.astro';
import About from '../components/core/About.astro';
import Contact from '../components/core/Contact.astro';
import Modal from '../components/shared/Modal/Modal.astro';
import ModalHeader from '../components/shared/Modal/ModalHeader.astro';
import ModalBody from '../components/shared/Modal/ModalBody.astro';
import ModalImagesContainer from '../components/shared/Modal/ModalImagesContainer.astro';
import ModalFullscreenImage from '../components/shared/Modal/ModalFullscreenImage.astro';

export const supportedLangs = ['da', 'en'];
export const mainLang = 'en';

export function getStaticPaths() {
	const paths = [];

	supportedLangs.forEach((lang) => {
		const path = lang !== mainLang ? lang : '/';

		paths.push({
			params: { path },
			props: { lang }
		});
	});

	return paths;
}

const { lang } = Astro.props;

---

<Layout title="Morten Schou Gross" lang={lang}>
	<main class="p-4 mx-auto max-w-6xl">

		<About lang={lang} />

		<Experience lang={lang} />

		<Projects lang={lang} />

		<Contact lang={lang} />
		
	</main>

	<Modal id="image-modal" fullscreen={false}>
		<ModalHeader title='' dismissTarget="#image-modal"></ModalHeader>
		<ModalBody>
			<ModalImagesContainer/>
		</ModalBody>
	</Modal>

	<Modal id="fullscreen-modal" fullscreen={true}>
		<ModalHeader title='' dismissTarget="#fullscreen-modal"></ModalHeader>
		<ModalBody>
			<ModalFullscreenImage/>
		</ModalBody>
	</Modal>
</Layout>

