---
interface Props {
	id: number;
	title: string;
	body: string;
	urls: [
		{
			title: string;
			href: string;
		}
	];
	repositories: [
		{
			name: string;
			href: string;
		}
	]
	technologies: [];
}

const { id, title, body, urls, repositories, technologies } = Astro.props;
---

<li 
	id={'project-' + id}
	class="
		card
		col-span-8
		col-start-3
		sm:col-start-auto
		sm:col-span-6
		md:col-span-4
		lg:col-span-3
		relative
		list-none
		p-4
		pt-14
		transition-all
		shadow-md
		shadow-[var(--color-5)]
		rounded
		border
		border-[var(--color-3)]
		hover:border-[var(--color-2)]
		hover:shadow-lg
		hover:shadow-[var(--color-5)]"
>
	<div class="relative z-[2] text-sm">
		<div class="icon inline-flex justify-center items-center w-8 h-8 rounded-full border border-[var(--color-2)] bg-[var(--color-3)] mb-4 transition-opacity opacity-50">
			<i class="fa-solid fa-code text-base text-[var(--color-1)]"></i>
		</div>
		
		<h3 class="text-[var(--color-1)] text-base font-semibold">{title}</h3>
		<p class="pb-4">{body}</p>
		{urls ?
			<div class="pb-2">
				<h4>
					<i class="fa-solid fa-globe mr-1"></i>
					{urls.length === 1 ? "URL" : "URLs"}
				</h4>
				<ul>
					{urls.map(url => (
						<li>
							<a href={url.href} target="_blank">{url.title}</a>
						</li>
					))}
				</ul>
			</div>
		 : ""}
		<div class="pb-2">
			<h4>
				<i 
					class={
						(repositories[0].href.includes("gitlab") ? "fa-gitlab" : "fa-github")
						+ " fa-brands mr-1"}
				></i>
				{repositories.length === 1 ? "Repository" : "Repositories"}
			</h4>
			<ul>
				{repositories.map(repo => (
					<li>
						<a href={repo.href} target="_blank">{repo.name}</a>
					</li>
				))}
			</ul>
		</div>
		<div class="">
			<h4>
				<i class="fa-solid fa-file-code mr-1"></i>
				Technologies
			</h4>
			<ul>
				{technologies.map(tech => (
					<li>{tech}</li>
				))}
			</ul>
		</div>

	</div>

	<div class="shine"></div>
	<div class="background">
		<div class="tiles">
			<div class="tile tile-1"></div>	
			<div class="tile tile-2"></div>	
			<div class="tile tile-3"></div>	
			<div class="tile tile-4"></div>	
			<div class="tile tile-5"></div>	
			<div class="tile tile-6"></div>	
			<div class="tile tile-7"></div>	
			<div class="tile tile-8"></div>	
			<div class="tile tile-9"></div>	
			<div class="tile tile-10"></div>	
		</div>
		<div class="line line-1"></div>
		<div class="line line-2"></div>
		<div class="line line-3"></div>
	</div>
</li>

<style>
	h4 {
		/* color: var(--color-1); */
		font-weight: 600;
	}

	div li {
		display: inline-block;
	}

	div li:not(:last-of-type)::after {
		content: "⦁";
		padding: 0 .25rem;
	}

	a {
		cursor: pointer;
		transition: color .15s ease-in-out;
		font-weight: 300;
	}

	a:hover {
		color: var(--color-1);
	}

	.card .shine {
		border-radius: inherit;
		position: absolute;
		inset: 0;
		z-index: 1;
		overflow: hidden;
		opacity: 0;
		transition: opacity .5s;
	}

	.card .shine::before {
		content: "";
		width: 150%;
		padding-bottom: 150%;
		border-radius: 50%;
		position: absolute;
		left: 50%;
		bottom: 55%;
		filter: blur(35px);
		opacity: .1;
		transform: translateX(-50%);
		background-image: conic-gradient(from 225deg at 50% 50%, rgba(16, 185, 129, 0) 0deg, #10B981 25deg, #EDFAF6 285deg, #FFFFFF 345deg, rgba(16, 185, 129, 0) 360deg);
		background-image: conic-gradient(from 225deg at 50% 50%, rgba(255,3,143, 0) 0deg, var(--color-1) 25deg, rgb(251, 235, 244) 285deg, #FFFFFF 345deg, rgba(255,3,143, 0); 360deg);
	}

	.card .background {
		border-radius: inherit;
		position: absolute;
		inset: 0;
		overflow: hidden;
		-webkit-mask-image: radial-gradient(circle at 60% 5%, #000 0%, #000 15%, transparent 60%);
  		mask-image: radial-gradient(circle at 60% 5%, #000 0%, #000 15%, transparent 60%);
	}

	.card .background .tiles .tile {
		position: absolute;
		background-color:rgba(255,3,143, .05);
		-webkit-animation-duration: 8s;
          animation-duration: 8s;
  		-webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  		opacity: 0;
	}

	.card .background .tiles .tile.tile-4,
	.card .background .tiles .tile.tile-6,
	.card .background .tiles .tile.tile-10 {
		-webkit-animation-delay: -2s;
		animation-delay: -2s;
	}

	.card .background .tiles .tile.tile-3,
	.card .background .tiles .tile.tile-5,
	.card .background .tiles .tile.tile-8 {
		-webkit-animation-delay: -4s;
		animation-delay: -4s;
	}

	.card .background .tiles .tile.tile-2,
	.card .background .tiles .tile.tile-9 {
		-webkit-animation-delay: -6s;
		animation-delay: -6s;
	}

	.card .background .tiles .tile.tile-1 {
		top: 0;
		left: 0;
		height: 10%;
		width: 22.5%;
	}

	.card .background .tiles .tile.tile-2 {
  		top: 0;
  		left: 22.5%;
  		height: 10%;
  		width: 27.5%;
	}

	.card .background .tiles .tile.tile-3 {
  		top: 0;
  		left: 50%;
  		height: 10%;
  		width: 27.5%;
	}

	.card .background .tiles .tile.tile-4 {
  		top: 0;
  		left: 77.5%;
  		height: 10%;
  		width: 22.5%;
	}

	.card .background .tiles .tile.tile-5 {
  		top: 10%;
  		left: 0;
  		height: 22.5%;
  		width: 22.5%;
	}
	.card .background .tiles .tile.tile-6 {
  		top: 10%;
  		left: 22.5%;
  		height: 22.5%;
  		width: 27.5%;
	}
	.card .background .tiles .tile.tile-7 {
  		top: 10%;
  		left: 50%;
  		height: 22.5%;
  		width: 27.5%;
	}
	.card .background .tiles .tile.tile-8 {
  		top: 10%;
  		left: 77.5%;
  		height: 22.5%;
  		width: 22.5%;
	}
	.card .background .tiles .tile.tile-9 {
  		top: 32.5%;
  		left: 50%;
  		height: 22.5%;
  		width: 27.5%;
	}
	.card .background .tiles .tile.tile-10 {
  		top: 32.5%;
  		left: 77.5%;
  		height: 22.5%;
  		width: 22.5%;
	}

	@-webkit-keyframes tile {
  		0%, 12.5%, 100% {
  		  opacity: 1;
  		}
  		25%, 82.5% {
  		  opacity: 0;
  		}
	}

	@keyframes tile {
  		0%, 12.5%, 100% {
  		  opacity: 1;
  		}
  		25%, 82.5% {
  		  opacity: 0;
  		}
	}

	.card .background .line {
		position: absolute;
		inset: 0;
		opacity: 0;
		transition: opacity .35s;
	}

	.card .background .line::before, 
	.card .background .line::after {
		content: "";
		position: absolute;
		background-color: var(--color-3);
		transition: transform .35s;
	}

	.card .background .line::before {
		left: 0;
		right: 0;
		height: 1px;
		transform-origin: 0 50%;
		transform: scaleX(0);
	}

	.card .background .line::after {
		top: 0;
		bottom: 0;
		width: 1px;
		transform-origin: 50% 0;
		transform: scaleY(0);
	}

	.card .background .line.line-1:before {
  		top: 10%;
	}

	.card .background .line.line-1:after {
  		left: 22.5%;
	}

	.card .background .line.line-1:before, .card .background .line.line-1:after {
		transition-delay: 0.3s;
	}

	.card .background .line.line-2:before {
  		top: 32.5%;
	}

	.card .background .line.line-2:after {
		left: 50%;
	}

	.card .background .line.line-2:before, .card .background .line.line-2:after {
		transition-delay: 0.15s;
	}

	.card .background .line.line-3:before {
		top: 55%;
	}

	.card .background .line.line-3:after {
		right: 22.5%;
	}

	.card:hover .icon {
		opacity: 1;
	}

	.card:hover .shine {
		opacity: 1;
		transition-duration: .5s;
		transition-delay: 0s;
	}

	.card:hover .background .tiles {
		opacity: 1;
		transition-delay: .25s;
	}

	.card:hover .background .tiles .tile {
		-webkit-animation-name: tile;
		animation-name: tile;
	}

	.card:hover .background .line {
		opacity: 1;
		transition-duration: .15s;
	}

	.card:hover .background .line::before {
		transform: scaleX(1);
	}

	.card:hover .background .line::after {
		transform: scaleY(1);
	}

	.card:hover .background .line.line-1:before, 
	.card:hover .background .line.line-1:after {
  		transition-delay: 0s;
	}

	.card:hover .background .line.line-2:before, 
	.card:hover .background .line.line-2:after {
	  	transition-delay: 0.15s;
	}

	.card:hover .background .line.line-3:before, 
	.card:hover .background .line.line-3:after {
	  	transition-delay: 0.3s;
	}
</style>
